pytest==9.1.1
pytest-xdist==3.8.0
allure-pytest==2.14.0
allure-python-commons==2.14.0
selenium==4.25.0
mysql-connector-python
webdriver-manager==4.0.1
requests
python-dotenv
flake8
pytest-rerunfailures